 <nav class="navbar navbar-expand-lg bg-primary container-fluid" style="position: fixed; z-index: 1000;" id="inicio">
        <div class="container-fluid">
         <div class="row justify-content-center">
                 <div class="col-12 col-lg-12 mt-4">
                  <span style="color: rgb(255, 255, 255); font-size: large; margin-bottom: 80%;" class="fw-bold fst-italic" >Jhon Doe Diputado</span>
                </div>
         </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto" data-bs-target=".navbar-collapse.show">
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Propuestas al congreso</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Contacto</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Escribenos</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link text-white" href="#formu">Unete a nosotros</a>
              </li>     
                <li class="nav-item">
                <a class="nav-link text-white" routerLink="/layout/home">Home</a>
            </ul>
            
          </div>
        </div>
      </nav>
