<nav
  class="navbar navbar-expand-lg fixed-top py-3"
  id="inicio"
>
  <div class="container">

    <!-- Logo + título -->
    <a class="navbar-brand d-flex align-items-center gap-2 text-white fw-bold fst-italic"
       routerLink="/layout/home">

      <img
        src="/images/logofupu1.png"
        width="60"
        height="50"
        loading="lazy"
        alt="Logo Candidato"
        class="rounded-circle object-fit-cover"
      />

      <span class="d-none d-md-inline">Candidato 2028</span>
    </a>

    <!-- Botón mobile -->
    <button
      class="navbar-toggler text-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto fw-bold text-center">
        <li class="nav-item">
          <a class="nav-link text-white" href="#propuestas">Propuestas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#escribenos">Escríbenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#formu">Únete</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
