<div class="container">
  <app-content
    titulo="Economia"
    pic="/images/economy.jpg"
    p1="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt numquam iusto optio mollitia error et, accusamus rerum? Ratione veritatis quas numquam dolorem quisquam labore corrupti dolorum, magni harum expedita praesentium!
Consequuntur, tempore. Dolorum molestias quae adipisci sit numquam quaerat delectus hic explicabo recusandae consequatur. Dolore, numquam ex, at, amet enim quisquam provident corrupti eum dignissimos rem ipsa accusamus unde tenetur.
Error distinctio ipsa assumenda itaque culpa ab, ipsam labore repudiandae explicabo alias quidem officia laborum voluptates, excepturi dolores dolorum earum. Explicabo qui optio at facilis ex nemo aliquid dicta possimus.
Accusamus velit adipisci, voluptatem nesciunt eligendi sunt. Esse aspernatur assumenda asperiores rerum vitae dolores nulla incidunt officia eius libero, dolorum natus soluta dolorem repellat voluptates, mollitia ut fugiat voluptatum dicta."
    p2="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt numquam iusto optio mollitia error et, accusamus rerum? Ratione veritatis quas numquam dolorem quisquam labore corrupti dolorum, magni harum expedita praesentium!
Consequuntur, tempore. Dolorum molestias quae adipisci sit numquam quaerat delectus hic explicabo recusandae consequatur. Dolore, numquam ex, at, amet enim quisquam provident corrupti eum dignissimos rem ipsa accusamus unde tenetur.
Error distinctio ipsa assumenda itaque culpa ab, ipsam labore repudiandae explicabo alias quidem officia laborum voluptates, excepturi dolores dolorum earum. Explicabo qui optio at facilis ex nemo aliquid dicta possimus.
Accusamus velit adipisci, voluptatem nesciunt eligendi sunt. Esse aspernatur assumenda asperiores rerum vitae dolores nulla incidunt officia eius libero, dolorum natus soluta dolorem repellat voluptates, mollitia ut fugiat voluptatum dicta."
  ></app-content>
</div>
<section>
    <app-footer></app-footer>
</section>